h1 {
  font-size: 3em;
  font-weight: normal;
  color: #606c76;
  margin-left: 20px;
}

.task-input {
  width: 500px;
  height: 30px;
  margin-left: 20px;
  border-radius: 10px;
  outline: none;
}

.submit {
  background-color: #9a4ec6;
  font-size: 15px;
  height: 40px;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  border-radius: 10px;
  outline: none;
}

.task {
  color: #606c76;
  margin-left: 20px;
  margin-bottom: 20px;
}
